{% extends 'base.html.twig' %}

{% block title %}
	{% if not search %}
		Home
	{% endif %}
	{{ search }}
{% endblock %}

{% block body %}
	<body class="bg-gray-900 min-h-screen text-gray-100">
		<div class="p-6">
			{% if history is not empty %}
				<h2 class="text-3xl font-bold m-5 bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-pink-400">Historique</h2>
				<div class='flex flex-row gap-6 p-6'>
					{% for history in history %}
						<div class="movie bg-gray-800 rounded-xl overflow-hidden shadow-lg hover:shadow-2xl transform hover:-translate-y-2 transition-all duration-300 cursor-pointer">
							<h2 class="text-lg m-3 text-center font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-400">{{ history|slice(0,20) }}</h2>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		{% if not search %}
			<h1 class="text-5xl font-bold text-center m-5 bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-pink-400">Films Populaires</h1>
		{% endif %}
		<div class="movies grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-7 gap-6 p-6">
			{% for movie in movies %}
				{% if movie.release_date != null %}
					<a href="{{ path('movie_detail', {id: movie.id}) }}">
						<div class="movie bg-gray-800 rounded-xl overflow-hidden shadow-lg hover:shadow-2xl transform hover:-translate-y-2 transition-all duration-300 cursor-pointer">
							<img class="size-70 object-cover" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
							<h2 class="text-lg m-2 text-center font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-400">{{ movie.title|slice(0,16) }}</h2>
							<p class="text-lg m-2 text-center font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-400">({{movie.release_date|slice(0,4)}})</p>
						</div>
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</body>
{% endblock %}
